.htaccess
resources/uploads/
resources/sabai/
.idea/
resources/blogs.dir/
resources/upgrade/
resources/backup-db/
resources/advanced-cache.php
resources/wp-cache-config.php
sitemap.xml
*.log
resources/cache/
resources/backups/
sitemap.xml.gz
wp-config.php
