{$subject}
========================================================

{!$message}

--------------------------------------------------------

<p n:if=$social>
Бидэнтэй холбогдох:

{foreach $social as $key => $item}
		{$key|lower|capitalize}:  {$item}
{/foreach}

--------------------------------------------------------
</p>
<p n:if="$unSubscribe">
Бүртгэлээс гарахыг хүсвэл дараах холбоос дээр дарна уу {$unSubscribe}
</p>